<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <style>
            body {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>
    </head>

    <body>
        <h1>Login</h1>
        <form action="/user-info" method="get">
            <p>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" />
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="text" name="password" id="password" />
            </p>
            <p style="margin-left: 100px">
                <input type="submit" value="Login" />
            </p>
        </form>
        <form action="/register" method="get">
            <p>
                <label for="">Haven't account?</label>
                <input type="submit" value="Register" />
            </p>
        </form>
    </body>
</html>
